<<<<<<< HEAD
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #ffffff;
    color: #023c49;
}

.ficha-container {
    width: 95%;
    max-width: 1400px;
    margin: auto;
    padding: 25px;
}

.logo {
    width: 300px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-grande {
    font-size: 50px;
    font-weight: bold;
    color: #0cc;
    text-align: center;
    width: 100%;
}

.linea {
    width: 100%;
    height: 4px;
    background: #0cc;
    margin: 20px 0;
}

.contenido-flex {
    display: flex;
    gap: 25px;
}

.imagenes {
    flex: 1;
}

.img-principal {
    width: 100%;
    border-radius: 6px;
}

.imagenes-secundarias {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.imagenes-secundarias img {
    width: 100%;
    border-radius: 5px;
}

.info {
    flex: 1;
}

.direccion {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.direccion span {
    color: #009c9a;
}

.ubicacion {
    margin: 2px 0 20px;
    color: #555;
    font-size: 14px;
    text-align: center;
}

.icones-grid,
.iconos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.icon-item {
    text-align: center;
    font-size: 14px;
}

.icon-item i {
    font-size: 28px;
    color: #009c9a;
    margin-bottom: 5px;
}

.fila-datos {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.subtitulo1 {
    color: #009c9a;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: left;
}
.subtitulo3 {
    color: #009c9a;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: left;
}


.subtitulo {
    font-size: 30px;
    color: #000;
    margin-bottom: 3px;
    text-align: center;
}
.etapa {
    font-weight: bold;
    color: #000;
}

.precio-comercial {
    font-weight: bold;
}

.lista {
    margin: 0;
    padding-left: 18px;
    margin-bottom: 22px;
}

.precio-oportunidad-box {
    margin-top: 25px;
}

.precio-oportunidad {
    font-size: 50px;
    color: #009c9a;
    margin: 0;
    text-align: center;
}

.btn-primary {
 padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    border: 3px solid #ffffff;
}
=======
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #ffffff;
    color: #023c49;
}

.ficha-container {
    width: 95%;
    max-width: 1400px;
    margin: auto;
    padding: 25px;
}

.logo {
    width: 300px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-grande {
    font-size: 50px;
    font-weight: bold;
    color: #0cc;
    text-align: center;
    width: 100%;
}

.linea {
    width: 100%;
    height: 4px;
    background: #0cc;
    margin: 20px 0;
}

.contenido-flex {
    display: flex;
    gap: 25px;
}

.imagenes {
    flex: 1;
}

.img-principal {
    width: 100%;
    border-radius: 6px;
}

.imagenes-secundarias {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.imagenes-secundarias img {
    width: 100%;
    border-radius: 5px;
}

.info {
    flex: 1;
}

.direccion {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.direccion span {
    color: #009c9a;
}

.ubicacion {
    margin: 2px 0 20px;
    color: #555;
    font-size: 14px;
    text-align: center;
}

.icones-grid,
.iconos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.icon-item {
    text-align: center;
    font-size: 14px;
}

.icon-item i {
    font-size: 28px;
    color: #009c9a;
    margin-bottom: 5px;
}

.fila-datos {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.subtitulo1 {
    color: #009c9a;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: left;
}
.subtitulo3 {
    color: #009c9a;
    font-weight: bold;
    margin-bottom: 3px;
    text-align: left;
}


.subtitulo {
    font-size: 30px;
    color: #000;
    margin-bottom: 3px;
    text-align: center;
}
.etapa {
    font-weight: bold;
    color: #000;
}

.precio-comercial {
    font-weight: bold;
}

.lista {
    margin: 0;
    padding-left: 18px;
    margin-bottom: 22px;
}

.precio-oportunidad-box {
    margin-top: 25px;
}

.precio-oportunidad {
    font-size: 50px;
    color: #009c9a;
    margin: 0;
    text-align: center;
}

.btn-primary {
 padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    border: 3px solid #ffffff;
}
>>>>>>> d3f84c802045fa7867588768cd27f744e1388d52
